/*--- This is for the header at the top of the page ---*/
.header-Top {
 height: 55px;
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 position: fixed;
 top: 0;
 left: 0;
 right: 0;
 background-color: white;
 border-bottom-width: 1px;  /* This is to add a border to one side only(bottom) and how to target it.*/
 border-bottom-style: solid;
 border-bottom-color: rgb(228,228,228);
 z-index: 100;
}  




/* Left section*/
.logo-section {
 display: flex;
 align-items: center;
}
.hamburger-menu {
  height: 24px;
  margin-right: 24px;
  margin-left: 24px;
  cursor: pointer;
  padding: 3px 2px 3px ;
  border-radius: 15px;
  transition: background-color 0.15s;
}

.hamburger-menu:hover{
 background-color: lightgray;
}


.yt-logo {
  height: 20px;
  cursor: pointer;
}



/* Middle section*/
.search-section {
 padding-left: 400px;
 padding-right: 100px;
 flex: 1;
 margin-left: 70px;
 margin-right: 36px;
 max-width: 500px; /*Maximum width*/
 display: flex;
 align-items: center;
 flex-direction: row;
 
}


.searchBox {
  flex:1;
  height: 36px;
  padding-left: 10px;
  font-size: 16px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(192, 192, 192);
  border-radius: 25px;
  box-shadow: inset 1px 2px 5px rgba(0,0,0,0.05); /*The inset is for the inside shadow*/
  margin-left: 0;
}
.searchBox::placeholder{ /*This is to attack the placeholder of the search bar*/
  font-size: 16px;
}


.search-button{
 height: 40px;
 width: 60px;
 background-color: rgb(240,240,240);
 border: 1px solid rgb(192, 192, 192); 
 margin-left: -40px;
 margin-right: 10px;
 position: relative;
 display: flex;
 justify-content: center;
 border-radius: 0 25px 25px 0;
}
.search-icon {
 height: 25px;
 margin-top: 5px;

}


.voice-search-button {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border: none;
  background-color: rgb(245,245,245);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-left: 25px;
}
.voiceSearchIcon {
  height: 24px;
  margin-top: 4px;

}



/* Right section*/
.right-section {
 width: 180px;
 margin-right: 20px;
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: space-between;
 flex-shrink: 0; /* This stops the flexbox from shrinking the contents inside*/

 

}


.upload-button {
  height: 24px;
}


.notifications-button {
  height: 24px;
}
.notifications-icon-container {
  position: relative;
}
.notifications-number {
  background-color: rgb(200,0,0);
  color: white;
  font-size: 11px ;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px; 
  height: 14px;
  border-radius: 10px;
  position: absolute;
  top: -2px;
  right: -5px;
}


.account-button {
  height: 32px;
  border-radius: 16px;
}

.upload-icon-container{
  background-color: white;
  border: none;
  border-radius: 25px;
  padding: 1px 8px 1px 0px;
  height: 30px;
  cursor: pointer;
  transition: background-color 0.15s;
}

.upload-icon-container:hover {
 background-color: lightgrey;
}

.upload-icon-container:active {
  opacity: 0.85;
}



.upload-icon-container,
.notifications-icon-container {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

.search-button .tooltip,
.voice-search-button .tooltip,
.upload-icon-container .tooltip,
.notifications-icon-container .tooltip {
  position: absolute;
  background-color: grey;
  color: white;
  font-size: 12px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 2px;
  bottom: -30px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none; /* So it does not show up when hovering over the tooltip*/
  white-space: nowrap; /* Prevent wrapping of text.*/
}

.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.upload-icon-container:hover .tooltip,
.notifications-icon-container:hover .tooltip { /* Targetting only the tooltips when we hovering*/
 opacity: 1;

}


