
/** -------------- This is for video grid --------------- **/
.video-grid{
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 row-gap: 50px;
 column-gap: 16px;
 
}

.video-preview {
  background-color: lightblue;
  border-radius: 25px;
  padding: 10px 8px 12px 8px;
}

.video-preview01,
.video-preview02,
.video-preview03,
.video-preview04,
.video-preview05,
.video-preview06 {
  border-radius: 25px;
  padding: 10px 8px 12px 8px;
  transition: 0.45s;
}

.video-preview01:hover,
.video-preview05:hover {
background-color: rgb(186, 246, 186);
}
.video-preview02:hover {
 background-color: lightblue;
} 
.video-preview03:hover {
 background-color: lightgray; 
}
.video-preview04:hover {
  background-color: rgb(244, 244, 203);
}
.video-preview06:hover {
 background-color: rgb(117, 97, 135);
}










/* Media Query*/
@media (max-width:750px) { /* This will only activate when the browser window is less then 750px  */
 .video-grid {
   grid-template-columns: 1fr 1fr; /* When the screen is smaller than 750px then on 2 videos will display in a row*/
 }
}

@media (min-width: 751px) and (max-width: 999px){ /* This is to cover the space in between min and max, so in other words normal screen*/
  .video-grid {
   grid-template-columns: 1fr 1fr 1fr; 
 }

}

@media (min-width: 1000px) {
  .video-grid {
   grid-template-columns: 1fr 1fr 1fr;
 }
}

/*------ This is for the video info e.g the video title, author, stats------*/



.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr; /*This is to remove the space between the cahnnel pic and the video title,author and stats*/
  
}




.thumbnail {
  width: 100%;

  /*object-fit: contain;    /*This determines what happens if the values you set for the width and height 
                         does not meet the dimensions of the image like it makes it look stretched or ugly
                         The 'cover' will essentially keep the dimensions(make it clear)
                        - You can also use "contain" instead of 'cover' and it will shrink the image till it fits.*/
  
  
  /*object-position: right; /*This is to adjust which part of the image we see when we use the object fit
                           you Can use left or right*/

 

 border-radius: 13px;
 cursor: pointer;
}
.thumbnail:hover {
  border-radius: 0;
}

.thumbnail-row {
  margin-bottom: 8px;
  position: relative;
}

.video-time {
  background-color: black;
  color: white;
  position: absolute;
  bottom: 10px;
  right: 8px;
  padding: 4px; 
  font-weight: 500;
  font-size: 12px;
  border-radius: 2px;
  /*padding: 4px 10px 20px 30px;  The first value is for vertical values(top,bottom), second value is for horizontal values(left,right)
                                  Now the 4 values; All directions, 1st value (top), 2nd Value (right), 3rd value(bottom), 4th value(left)
                                  Think of it as you start at the top then go clockwise.*/
}








.video-title{
  margin-top: 0%;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px; /*to change the space in between the lines*/
  cursor: pointer;
}

.video-author{
  margin-bottom: 6px;
}
 .video-author:hover {
  color: black;
 }
.verified-icon {
  fill: currentColor;
  width: 100%;
  height: 100%;
  cursor: pointer;
}


.video-author,       /*The comma[video-author,] can be used to target multiple classes at once*/
.video-stats{
 /*display: inline-block;  /*There are 3 types of elements: We use the display to change the elements
                          1) Block elements (like the <p> paragraphs)
                          2) inline-block element (when images or textboxes use just the space the need
                          3) inline element these are thing like to make your text bold withing you paragraph.*/
 color: grey;
 margin-top: 2px;
 font-size: 13px; 
 cursor: pointer;
}






.profile-pic { /*The actual picture*/
 width: 36px; 
 border-radius: 50px;
 cursor: pointer;
}



.verified-icon {
  background-color: rgb(29, 155, 240);
  color: white;
  padding: 1px 5px 1px 5px;
  border-radius: 25px;
}

