
/** -------------- This is for video grid --------------- **/
.video-grid{
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 row-gap: 50px;
 column-gap: 16px;
 
}

.video-preview {
  background-color: lightblue;
  border-radius: 25px;
  padding: 10px 8px 12px 8px;
}

.video-preview01,
.video-preview02,
.video-preview03,
.video-preview04,
.video-preview05,
.video-preview06 {
  border-radius: 25px;
  padding: 10px 8px 12px 8px;
  transition: 0.45s;
   cursor: pointer;
}

.video-preview01:hover,
.video-preview05:hover {
background-color: rgb(186, 246, 186);
}
.video-preview02:hover {
 background-color: lightblue;
} 
.video-preview03:hover {
 background-color: lightgray; 
}
.video-preview04:hover {
  background-color: rgb(244, 244, 203);
}
.video-preview06:hover {
 background-color: rgb(117, 97, 135);
}










/* Media Query*/
@media (max-width:750px) { 
 .video-grid {
   grid-template-columns: 1fr 1fr; 
 }
}

@media (min-width: 751px) and (max-width: 999px){ 
  .video-grid {
   grid-template-columns: 1fr 1fr 1fr; 
 }

}

@media (min-width: 1000px) {
  .video-grid {
   grid-template-columns: 1fr 1fr 1fr;
 }
}



/*------ This is for the video info e.g the video title, author, stats------*/
.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr; 
  
}




.thumbnail {
  width: 100%;
 border-radius: 13px;
 cursor: pointer;
}
.thumbnail:hover {
  border-radius: 0;
}

.thumbnail-row {
  margin-bottom: 8px;
  position: relative;
}

.video-time {
  background-color: black;
  color: white;
  position: absolute;
  bottom: 10px;
  right: 8px;
  padding: 4px; 
  font-weight: 500;
  font-size: 12px;
  border-radius: 2px;
}








.video-title{
  margin-top: 0%;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px; 
  cursor: pointer;
}

.video-author{
  margin-bottom: 6px;
}
 .video-author:hover {
  color: black;
 }
.verified-icon {
  fill: currentColor;
  width: 100%;
  height: 100%;
  cursor: pointer;
}


.video-author,     
.video-stats{
 color: grey;
 margin-top: 2px;
 font-size: 13px; 
 cursor: pointer;
}






.profile-pic { /*The actual picture*/
 width: 36px; 
 border-radius: 50px;
 cursor: pointer;
}



.verified-icon {
  background-color: rgb(29, 155, 240);
  color: white;
  padding: 1px 5px 1px 5px;
  border-radius: 25px;
}



